# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
.mvn

# Node
node_modules
package-lock.json

# Elastic Beanstalk Files
.elasticbeanstalk

# VS Code
.vscode
.jshintrc

# eclipse
/.gradle/
/.settings/
/build/
/.classpath
/.project
